body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-end {
  text-align: end;
}

.user-select-none {
  user-select: none;
}

.d-flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.p-1 {
  padding: 1rem;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-auto {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.inverse-link-style {
  text-decoration: inherit;
  color: inherit;
}

* {
  box-sizing: border-box;
}
